QuoteService_TRAG/src/main/java/resources/cotizacion_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://quoteservice.mycompany.com/" 
           xmlns:tns="http://quoteservice.mycompany.com/" 
           elementFormDefault="qualified">

    <xs:element name="CalculateQuoteRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="clienteId" type="xs:int" minOccurs="1"/>
                <xs:element name="vehiculoId" type="xs:int" minOccurs="1"/>
                <xs:element name="totalEstimado" type="xs:double" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>